<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
	<h1>pagina de adicionar eventos</h1>

	<form action="/eventos" method="post">	

		<div>
			<label>Nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Local:</label> <input type="text" name="local">
		</div>
		<div>
			<label>Data:</label> <input type="text" name="data">
		</div>
		<div>
			<label>Horario:</label> <input type="text" name="horario">
		</div>	
		<div>
			<button type="submit">SALVAR</button>
			<button type="reset">LIMPAR</button>
		</div>
		
		

	</form>
</body>
</html>